body {
    font-style:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    background: grey url("../images/white-waves.png");
}

* {
    box-sizing: border-box;
}

header {
    background: white;
    height: 54px;
    border-bottom: 1px solid grey;
}


nav {
    width: 960px;
    margin: 0 auto;
}
nav ul {
    display: inline; 
    margin-left: 480px;   
}
.listitems {
    display: inline;
    margin-left: 25px;
    color: grey;
}

a:link {
    color: grey;
    text-decoration: none;
}

.logo {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    color:white;
    padding: 10px;
    margin-bottom: 0px;
    display: inline-block;
    text-align: center;
}


h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5
}

main {
    width: 960px;
    margin: 0 auto;


}
.aboutme {
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    
}

.aboutme p {
    line-height: 2;
    margin: 0;
}

.bioimg, .biocontent {
    float:left;
}

.bioimg {
    margin-right: 20px;
    height: 225px;
}

footer {
    text-align: center;
    color: white;
    background-color: grey;
    border-top: 10px solid  #4aaaa5;
    
}

form {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;

}

form input,
form textarea {
    display: block;
    width: 100%;
}

form textarea {
    height: 200px;
}

.portfoliomain {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
}

.img1and2, .img3and4 {
    float: left;
    clear: both;

}

.portfoliomain img {
    height: 200px;
    width: 300px;
    margin: 15px;
}

.portfoliomain h2 {
    padding: 15px;
    padding-top: 25px;
    margin-left: 5px;
}

.portfoliomain hr {
    margin: 15px;
}

