body {
    font-style:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    background: grey url("../images/floor-tile.png");
}

* {
    box-sizing: border-box;
}

header {
    background: white;
    height: 54px;
    border-bottom: 1px solid grey;
}

nav {
    width: 960px;
    margin: 0 auto;
}
nav ul {
    display: inline; 
    margin-left: 480px;   
}
.listitems {
    display: inline;
    margin-left: 25px;
    color: grey;
}

a:link {
    color: grey;
    text-decoration: none;
}

.logo {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    color:white;
    padding: 10px;
    margin-bottom: 0px;
    display: inline-block;
    text-align: center;
}


h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5
}

main {
    width: 960px;
    margin: 0 auto;

}
.aboutme {
    background-color: white;
    line-height: 2;
    
}

.bioimg, .biocontent {
    float:left;
}


footer {
    text-align: center;
    color: white;
    background-color: grey;
    border-top: 10px solid  #4aaaa5;
    
}

form {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;

}

form input,
form textarea {
    display: block;
    width: 95%;
    

}